<ngx-spinner [fullScreen]="true">
    <p style="font-size: 20px; color: white">Please wait...</p>
</ngx-spinner>

<div class="sign-in-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div
                class="daxa-form ml-auto mr-auto border-radius bg-white"
                [class.card-borderd-theme]="themeService.isCardBorder()"
                [class.component-dark-theme]="themeService.isDark()"
                [class.rtl-enabled]="themeService.isRTLEnabled()"
            >
                <div class="title text-center">
                    <h3>
                        Sign in
                    </h3>
                    <p class="text-black">
                        Already have an account? <a routerLink="/authentication/sign-up" class="text-daxa">Sign Up</a>
                    </p>
                </div>
                <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="main-label d-block lh-1 text-black">
                            Username
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter Username
                            </mat-label>
                            <input matInput type="text" id="email" formControlName="username">
                        </mat-form-field>
                        <div class="error text-danger"
                             *ngIf="authForm.get('username')!.hasError('required') && authForm.get('username')!.touched">
                            Email is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="main-label d-block lh-1 text-black">
                            Your Password
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter your password
                            </mat-label>
                            <input matInput [type]="passHide ? 'password' : 'text'" id="password"
                                   formControlName="password">
                            <button mat-icon-button matSuffix (click)="passHide = !passHide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passHide">
                                <span class="material-symbols-outlined">
                                    {{passHide ? 'visibility_off' : 'visibility'}}
                                </span>
                            </button>
                        </mat-form-field>
                        <div class="error text-danger"
                             *ngIf="authForm.get('password')!.hasError('required') && authForm.get('password')!.touched">
                            Password is required.
                        </div>
                        <div class="error text-danger"
                             *ngIf="authForm.get('password')!.hasError('minlength') && authForm.get('password')!.touched">
                            Password must be at least 8 characters long.
                        </div>
                    </div>
                    <button mat-button class="btn" type="submit" [disabled]="authForm.invalid">
                        Sign In
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
